.optin-every-posts h4 {
  border-left: none!important;
  font-size: 1.2em!important;
  margin-top: 15px!important;
}

.optin-every-posts p {
  margin-bottom: 0.2em;
}

.floatingbox .mc4wp-form {
  margin: 8px auto;
  width: 290px!important;
}

.floatingbox .mc4wp-form-fields label {
  font-size: 16px;
  font-weight: 100;
  color: #888;
}

.mc4wp-form-fields label {
  margin-bottom: 0px!important;
}

.mc4wp-form-fields fieldset {
  text-align: left!important;
}

.mc4wp-form-fields .mail-form-popup fieldset input {
  margin: 2px 0!important;
  padding: 8px 8px!important;
}

.mc4wp-form-fields .mail-form-popup fieldset input[type=submit] {
  background-color: #ff9200 !important;
}

.mc4wp-form-fields .mail-form-popup fieldset input[type=submit]:hover {
  opacity: 0.5 !important;
}


.mc4wp-form-fields fieldset input {
  margin: 10px 0!important;
  outline: none;
  border: 2px solid #f1f2f2!important;
  border-radius: 0;
  box-sizing: border-box;
  color: #000!important;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px!important;
  width: 100%!important;
  max-width: none!important;
}

.mc4wp-form-fields fieldset input[type=submit] {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  background-color: #1faee4 !important;
  border-radius: 3px !important;
  border-color: #21292d !important;
  border-width: 0px !important;
  width: 100% !important;
}

.mc4wp-notice {
  color: #cf4d35 !important;
}

.mail-form {
  width: 100%!important;
}
