// モーダル機能実装のための候補コードだったが、
// 他の機能が干渉してしまうため実装できず廃棄。
// 再度利用の可能性は残っているため保存中

$("#label-modal").html("<%= escape_javascript(render 'new') %>");　//labels内の_newを表示する
$("#label-modal").modal("show");
// $("#label-modal").show();


// 一時避難
	<div class="form-group">
		<label>Artist</label>
		<%= f.select :artist_id, @artists.map { |t| [t.artist_name, t.id] } %>
	</div>
	<div class="form-group">
		<label>Genre</label>
		<%= f.select :genre_id, @genres.map { |t| [t.genre_name, t.id] } %>
	</div>