<!-- モーダルエリアここから -->
<section id="open-label" class="modalarea">
  <div id="modalbg" class="modalbg"></div>
  <div class="modalwrapper">
    <div class="modalcontents">
<!--モーダルエリアここまで -->

		<%= form_for(@label) do |l| %>
			<ul>
				<li>
					<label>Label Name</label>
					<%= l.text_field :label_name %>
				</li>
			</ul>

			<%= l.submit 'Create Label' %>
		<% end %>

<!-- モーダルエリアここから -->
    </div>

    <div id="closemodal" class="closemodal">
      ×
    </div>
  </div>
</section>
<!--モーダルエリアここまで -->