

<%= form_tag :search_
<table>
	<thead>
		<tr>
			<th>User name</th>
			<th>Details</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.address %></td>
		</tr>
		<% end %>

	</tbody>
</table>
