
<form action="#" method="post">
	<p>Your Name<br>
		<input type="text" name="name"></p>
		<p>Your E-mail<br>
			<input type="text" name="mail"></p>
		<p>Your Message<br>
			<textarea name="comment" cols="30" rows="5"></textarea></p>
		<p><input type="submit" value="Send"></p>
</form>