<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    	<h1>about us</h1>
    	<dl>
    		<dt> Name of Company/Organization</dt>
    		<dd> MUSE.</dd>

    		<dt> Establishment</dt>
    		<dd> Nov.2018</dd>

    		<dt> Adress</dt>
    		<dd> 1 19-10 Jinan Shibuya-ku, Tokyo 150-0041 Tokyo</dd>

    		<dt> Capital</dt>
    		<dd></dd>

    		<dt> Business</dt>
    		<dd> Sales of music software.<br>
    			   Import / wholesale of music software, video software
    		</dd>
    	</dl>
    </div>
  </div>
</div>