<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    	<div id="pp">
    		<h1> PRIVACY POLICY</h1>

    		  <div class="pp-title">
    		  	<h4> Basic Policy</h4>
    		   	<p class="pp-guide">
    		   		MUSE. (hereinafter collectively “MUSE”) recognizes that all personal information provided by you, our customers and clients through their business with MUSE must be handled and protected with the utmost care. Therefore, MUSE will follow the basic policy stated below to fulfill its responsibility.
    		   	</p>
			  		<p class="pp-text">
			  			1.In handling any personal information, MUSE pledges to fully comply with the Private Information Protection Law (hereinafter the “Law”), other relevant laws and regulations, and pursuant to practices in this respect that are generally accepted as fair and reasonable. Further, MUSE will continuously endeavors to improve handlng such personal information.
			  		</p>
			  		<p class="pp-text">
			  		  2.MUSE will continuously update and revise rules and management systems for handling and protection of personal information and ensure compliance by its employees with such rules and systems. Further, MUSE will ensure to appropriately supervise their trustees if any.
			  		</p>
			  		 <p class="pp-text">
			  			3.MUSE will use personal information only to the extent and for the purposes specified (hereinafter the “Purpose”), which will be announced or noticed to the persons to whom the information pertains.
			  		</p>
			  		<p class="pp-text">
			  		  4. MUSE will take necessary measures to properly manage and protect personal information to prevent it from being leaked, lost, and falsified.
			  		</p>
			  		<p class="pp-text">
			  			5.MUSE through its specific office will faithfully make all efforts to promptly receive, correct, revise, delete or cease personal information in possession upon verification that the personal making the request is indeed the data subject.
			  		</p>
			  	</div>

    		  <!-- (株式会社)MUSE.（以下、「当社」という）は、お客様やお取引先を初めとする、当社とのお取引を通じ、当社に個人情報をご提供される全ての方（以下、「ご本人」という）の個人情報の適正な保護を重大な責務と認識し、この責務を果たすために、次の方針の下で個人情報を取り扱います。
					個人情報に適用される個人情報の保護に関する法律（以下、「個人情報保護法」という）その他の関係法令を遵守するとともに、一般に公正妥当と認められる個人情報の取り扱いに関する慣行に準拠し、適切に取り扱います。また、適宜、取り扱いの改善に努めます。個人情報の取り扱いに関する規程を明確にし、従業者に周知徹底します。また、委託先に対しても必要かつ適切な監督を行います。
					個人情報の取り扱いに際しては、利用目的を特定して通知または公表し、その利用目的に従って個人情報を取り扱います。個人情報の漏洩、紛失、改竄等を防止するため、必要な対策を講じて適切な管理を行います。保有する個人情報について、ご本人からの開示、訂正、削除、利用停止の依頼を所定の窓口でお受けして、誠意をもって対応します。 -->

					<hr>
					<div class="pp-title">
						<h4> Purposes of Use of Personal information</h4>
						<p class="pp-guide">
							MUSE may lawfully use personal information only as needed for its business performance according to its business purposes to the extent that it may require.:
						</p>
						<p class="pp-text">
							1.to inform and provide its products and services;
						</p>
						<p class="pp-text">
							2.to develop its products and services;
						</p>
						<p class="pp-text">
							3.to respond to enquiries by the individual.
						</p>
					</div>

					<!-- 当社は、法令等に照らし適正な手段により取得した個人情報につき、
					当社が営む事業において以下の目的のため必要な範囲で利用させていただくことがあります。
					製品・サービスのご案内、提供のため
					製品・サービスの開発のため
					ご本人からの問い合わせへの対応のため -->

					<hr>
					<div class="pp-title">
						<h4> Use of Personal Information Within MUSE</h4>
						<p class="pp-text">
							MUSE may share personal information, including personal name, address, telephone number, mail address, purchasing history of products, place of employment, job title, etc., with its group companies as listed herein for the Purpose. MUSE will be solely responsible for such use. For any inquiries, for complaints please refer to the contact page stated hereunder.
						</p>
					</div>

					<!-- 当社は、氏名、住所、電話番号、電子メールアドレス、商品購入履歴、勤務先および役職等の個人データの項目について、前項の利用目的の範囲内で、後述するグループ企業間にて共同で利用させていただくことがあります。共同利用に関する責任は、当社が有し、お問い合わせ、苦情等は、下記受付窓口にて受付させていただきます。-->

					<hr>
					<div class="pp-title">
						<h4> Disclosure to Third Party</h4>
						<p class="pp-guide">
							MUSE will not disclose personal information to any third party except for use of personal information within MUSE or to its trustees stated above and the following cases:
						</p>
						<p class="pp-text">
							1.When person’s approval is granted beforehand;
						</p>
						<p class="pp-text">
							2.When the disclosure is in a statistical form which does not identify person;
					  </p>
					  <p class="pp-text">
					  	3.When the disclosure is required by applicable laws and ordinances. Also, we may disclose your personal information to respond to subpoenas, and court orders;
					  </p>
					  <p class="pp-text">
					  	4.When the disclosure is necessary to protect human life, human body and personal property, while it is difficult to obtain person’s agreement to disclose his or her personal information; or
					  </p>
					  <p class="pp-text">
					  	5.When the disclosure of personal information is necessary to support a public operation of the national government or the municipality that person’s refusal to allow the disclosure of personal information would limit the accomplishment of such operation.
					  </p>
					 </div>

					 <!-- 当社は、前項の共同利用や委託先への提供の場合および以下のいずれかに該当する場合を除き、個人データを第三者へ開示または提供しません。
					 ご本人の同意がある場合
					 統計的なデータ等本人を識別することができない状態で開示・提供する場合
					 法令に基づき開示・提供を求められた場合
					 人の生命、身体または財産の保護のために必要な場合であって、ご本人の同意を得ることが困難である場合
					 国または地方公共団体等が公的な事務を実施する上で、協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合 -->

					<hr>
					<div class="pp-title">
						<h4> Disclosure</h4>
						<p class="pp-guide">
							You may request to obtain confirmation concerning whether MUSE is holding or processing personal data relating to you, and confirmation concerning the use of the personal information in possession of MUSE. If such a request is made, MUSE requires that your proof of identity should be provided. When MUSE finds it necessary to disclose, MUSE will disclose your personal information in possession of MUSE to you to a reasonable extent and in a reasonable period of time.
						</p>
					</div>

					 <!-- 当社の保有個人データに関して、ご本人自身の情報を開示ご希望される場合には、お申し出いただいた方がご本人である事を確認した上で、開示の必要があると判断された場合には、合理的な期間および範囲で回答します。 -->

					<hr>
					<div class="pp-title">
						<h4> Correction, Deletion, etc</h4>
						<p class="pp-guide">
							You may request to correct, add or delete your personal information. If such a request is made, MUSE requires that your proof of identity should be provided. When MUSE finds it necessary to correct, add or delete, MUSE will correct, add or delete your personal information in possession of MUSE to a reasonable extent and in a reasonable period of time.
						</p>
					</div>

					<!-- 当社の保有個人データに関して、ご本人の情報について訂正、追加または削除をご希望される場合には、お申し出いただいた方がご本人である事を確認した上で、事実と異なる内容があり、訂正、追加または削除の必要があると判断された場合には、合理的な期間および範囲で情報の訂正、追加または削除をします。 -->

					<hr>
					<div class="pp-title">
						<h4> Suspension of Use and Elimination</h4>
						<p class="pp-guide">
							You may request to cease the use or eliminate personal information. If such a request is made, MUSE requires that your proof of identity should be provided. When MUSE finds it necessary to cease the use or eliminate in accordance with the Section 27 of the Law, MUSE will cease the use or eliminate your personal information in possession of MUSE to a reasonable extent and in a reasonable period of time.<br>
							Please note that if part or all of your personal information becomes unavailable to us, we may not be able to provide satisfying service. Your kind understanding and cooperation will be appreciated. (There may be cases that we are not able to answer your request to suspend our use of or to delete the personal information, if the personal information were managed in accordance with the related laws and regurations.)
						</p>
					</div>

					<!-- 当社の保有個人データに関して、ご本人自身の情報の利用停止または消去をご希望される場合には、お申し出いただいた方がご本人であることを確認した上で、個人情報保護法第２７条の規定に従い、利用停止または消去の必要があると判断された場合、合理的な期間および範囲で利用停止または消去します。これらの情報の一部または全部を利用停止または消去した場合、不本意ながらご要望に沿ったサービスの提供ができなくなることがありますので、ご理解とご協力を賜りますようお願い申し上げます。（なお、関係法令に基づき保有しております情報については、利用停止または消去のお申し出に応じられない場合があります。） -->

			</div>
		</div>
	</div>
</div>