<h1>What do you want to contact us ?</h1>

<div class="wrap">
	<div class="change_tab_menu">
		<button class="change_tab">Contact</button>
		<button class="change_tab">Request</button>
		<button class="change_tab">Quit</button>
	</div>
	<ul>
		<li class="change_panel"><%= render 'contacts/contact', contacts: @Contact %></li>
		<li class="change_panel"><%= render 'contacts/contact', contacts: @Contact %></li>
		<li class="change_panel"><%= render 'contacts/contact', contacts: @Contact %></li>
	</ul>
</div>