<h1>What do you want to contact us ?</h1>
 
    
      <ul class="tab">
        <li class="select">Contact</li>
        <li>Request</li>
        <li>Members return</li>
      </ul>
 
      <ul class="content">
        <li>
          <form>
          <p>Your Name<br>
          <input type="text" name="name" ></p>
          <p>Your E-mail<br>
          <input type="text" name="mail"></p>
          <p>Your Message<br>
          <textarea name="comment" cols="30" rows="5"></textarea></p>
          <p><input type="submit" value="Send"></p>
          </form>
        </li>
 
        <li class="hide">
          <form>
          <p>Your Name<br>
          <input type="text" name="name"></p>
          <p>Your E-mail<br>
          <input type="text" name="mail"></p>
          <p>Your Request<br>
          <textarea name="comment" cols="30" rows="5"></textarea></p>
          <p><input type="submit" value="Send"></p>
          </form>
        </li>
 
        <li class="hide">
          <form>
          <p>Your Name<br>
          <input type="text" name="name"></p>
          <p>Your E-mail<br>
          <input type="text" name="mail"></p>
          <p>Your Message<br>
          <textarea name="comment" cols="30" rows="5"></textarea></p>
          <p><input type="submit" value="Send"></p>
          </form>
        </li>
        
      </ul>
