<h1>What do you want to contact us ?</h1>

<div class="tabUI">
  <ul class="tab">
    <li class="active">Contact</li>
    <li>Request</li>
    <li>Quit</li>
  </ul>

  <div class="tabContent">
      <div class="change_panel active"><%= render 'contacts/contact', contacts: @Contact %>
      </div>
  </div>

