
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    	<div id="about">
    		<h1>SERVICE</h1>

    		<div class="about-title">
    			<h4> How to use</h4>
    			<p class="about-guide">
    				We are offering various professional mode services with "client problem solving" as a mission.<br>
			   		In the "partner style" to meet the needs firmly headed to the client at the tortillas and spots,<br>
			   		We are accelerating the client's business and earning reliable trust and support.
		   	  </p>
		   		<p class="about-text"></p>
		   	</div>
		   	<hr>
		  </div>
		</div>
	</div>
</div>

<div class="video">
	<video controls autoplay loop>
		<source src="/assets/demo.mp4">
			<P>Sorry, your browser doesn't support embedded videos.</P>
		</video>
 </div>


