<div class="container">
  <div class="row">
    <div class="col-xs-8">
	    <h1><%= @item.item_name %></h1>
	  </div>
	  <div class="col-xs-4">
	    <h1>カート</h1>
	    <%= link_to "Edit", edit_item_path(@item) %>
	    <%= link_to "Destroy", items_path(@item), method: :delete, class: "btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %>
	  </div>
  </div>
</div>
