<div class="container">
  <div class="row">
    <div class="col-xs-9">
	    <h1><%= @item.item_name %></h1>
	  </div>
	  <div class="col-xs-3">
	    <h1>カート</h1>
	  </div>
  </div>
</div>

<%= form_for(@cart_item, url: add_item_path(@item.id) ) do |f| %>
  <%= f.number_field :quantity %>
  <%= f.submit %>
<% end %>
