/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* 共通 */

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}

header, footer {
  background-color: #3a3a3a;
}

footer {
  margin-top: 15px;
}

.logo {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 32px;
}

/* 見出し */

h1{
    margin: 25px;
    position: relative;
    padding: 10px;
    text-align: center;
    border-top: solid 2px #3a3a3a;
    border-bottom: solid 2px #3a3a3a;
}

h1:before, h1:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: calc(100% + 20px); /* 値を計算する */
    background-color: #3a3a3a;
}

h1:before {
  left: 10px;
}

h1:after {
  right: 10px;
}

/* モーダル */

.modalarea {
  display: none;
  position: fixed; /* 手前に固定する */
  z-index: 10; /* ここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalbg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9); /* 半透明にする */
}

.modalwrapper {
  position: absolute; /* 要素の配置方法を指定 */
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%); /* 中央寄せ */
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closemodal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

/* モーダル リンク */
#modal-sign-up
#modal-sign-in {
  display: block;
}

/* グローバルナビ */
.globnav {
  margin: 0;
  padding: 0;
  height: 45px;
}

.globnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.globnav .header-nav-item {
  float: left;
  margin: 0;
  padding: 0;
  width: 130px;
}

.globnav .footer-nav-item {
  float: left;
  margin: 0;
  padding: 0;
  width: 220px;
  text-align: center;
}

.globnav a {
  text-align: center;
  position: relative;
  display: block;
  padding: 10px 0;
  width: 100%;
  color: #ffffff;
  text-decoration:none;
  height: 32px;
}

.globnav a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.globnav a:hover::after {
  color: #ffffff;
  text-decoration: underline;
  transform-origin: left top;
  transform: scale(1, 1);
}

/* TOP */

/* auto slide show*/
.in {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
.in img {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
}

/* slick slide show */
.slider-container {
  width: 1300px;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: #ccc; /*左右の矢印の色を変える*/
}

.slick-next {
  right: 20px; /*左右の矢印の位置を変える*/
  z-index: 99;
}
.slick-prev {
  left: 15px;
  z-index: 100;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #fff; /*スライド数のドットの色を変える*/
}

.slider img {
  float: left;
  height: auto;
  width: 100%; /*スライド画像の横幅可変*/
  padding: 10px;
  /*max-width: 100%;*/
}

/* pick up contents */
.sub-nav {
  font-size: 17px;
  padding: .5em .75em;
  margin: 30px 0 10px 20px;
  background-color: #ffffff;
  border-left: 6px solid #3a3a3a;
}

/* top sub-navbar */
.local-nav ul{
  list-style-type: none;
  width: 414px;
  height: 35px;
  margin: auto;
  padding: 10px;
  transform: skew(-20deg);
}

.local-nav li{
  float: left;
  margin: 0 1px;
  background: #3397de;
}

.local-nav li:hover{
  background: #2d85ba;
}

.local-nav li:active{
  background: #297aa3;
  position: relative;
  top: 1px;
}

.local-nav li:first-child{
  border-radius: 3px 0 0 3px;
}

.local-nav li:last-child{
  border-radius: 0 3px 3px 0;
}

.local-nav li a{
  display: block;
  padding: 0.5em 4em;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  transform: skew(20deg);
}

/* CONTACT */

.contact-tab {
  width: 70%;
  margin: 0 auto;
}

.tab {
  overflow: hidden;
 }

.tab li {
  /*background: #ccc;*/
  padding: 9px 51px;
  float:left;
  margin-right:1px;
  list-style-type: none;
  background: #3a3a3a;
  border: 1px solid #3a3a3a;
  color: white;
 }


.tab li.select {
  background: #fff;
  color: #3a3a3a;
 }

.content li {
  background: rgba(226,226,226,0.28);
  list-style-type: none;
  border: 1px solid #3a3a3a;
  padding: 20px;
  text-align: center;
 }

.hide {
 display:none;
 }

.content input, button, textarea {
  border: 1px solid #3a3a3a;
  width: 80%;
}


/* privacy policy */
/* terms of use */
/* hrは規約関連共通とする */
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid #eeeeee;
}

#pp,#tou,#contact,#about {
  width: 84%;
  line-height: 1.5em;
  margin: 0 auto;
}

.pp-title,.tou-title {
  padding:15px;
}

.pp-title h4 {
  color: #a94442b0;
}

.tou-title h4 {
  color: #3378b7a3;
}

.pp-text,.tou-text {
  width: 90%;
  display: block;
  margin: 7px auto;
}
/* Users */

.admin {
  margin: 40px 20px;
}

.admin > h2 {
  padding-bottom: 20px
}

/* about us */

dl,dt,dd {
  box-sizing: border-box;
}

dl {
  background: #eeeeee5c;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

dt,dd {
  padding: 10px 10px 0 10px;
  border-top: 1px solid #ccc;
}

dt {
  width: 40%;
  float: left;
}

dd {
  background: #fff;
  margin-left: 40%;
  padding-bottom: 10px;
  border-left: 1px solid #ccc;
}

dd:after {
  content: '';
  display: block;
  clear: both;
}


.rnk-item-container {
  width: 90%;
  margin: 0 auto;
  transition: all  0.3s ease;
}

.rnk-item-container:hover {
  background-color: #efefef;
}

.rnk-main {
  margin: 10px;
}

.lank {
  float:left;
  width: 7%;
  font-weight: 700;
  font-size: 25px;
  line-height: 75px;
}

.rnk-title,.rnk-artist {
  float: right;
  width: 80%;
}
.rnk-item-details img {
  float: left;
  width: 10%;
}

.rnk-title p {
  font-weight: 700;
  font-size: 18px;
}

















.local-navbar {
  overflow: hidden;
 }

.local-navbar li {
  padding: 9px 51px;
  float:left;
  margin-right:1px;
  border: 1px solid #3a3a3a;
  color: white;
 }


.local-navbar li.active {
  background: #fff;
  color: #3a3a3a;
 }

.rnk-content li {
  list-style-type: none;
  border: 1px solid #3a3a3a;
  padding: 20px;
 }

.hide {
 display:none;
 }







 .local-nav ul{
  list-style-type: none;
  width: 92%;
  height: 51px;
  margin: auto;
  padding: 10px;
  transform: skew(-20deg);
}

.local-nav li{
  float: left;
  margin: 0 1px;
  background: #3397de;
}

.local-nav li:hover{
  background: #2d85ba;
}

.local-nav li:active{
  background: #297aa3;
  position: relative;
  top: 1px;
}

.local-nav li:first-child{
  border-radius: 3px 0 0 3px;
}

.local-nav li:last-child{
  border-radius: 0 3px 3px 0;
}

.local-nav li a{
  display: block;
  padding: 0.5em 4em;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  transform: skew(20deg);
}

