// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
	list-style: none;
}

.tab-menu {
	div {
		cursor: pointer;
	}

	div.active {
		cursor: auto;
	}
}

.tab-contents {
	li {
	  display: none;
	}

	li.show {
		display: block;
	}
}
